---
const { destino,ocpion, costo, tiempo, corrida = '', estacion } = Astro.props;
---

<!-- Inicio Card -->
<div class="text-center p-5 border-x-2 border-y-2 border-green-200 rounded-sm mt-5 md:mt-0">
  <h3 class="text-amber-900 text-xl font-bold">Cuacnopalan - {destino}</h3>
  <p class="text-gray-600 font-medium p-1">
    Opción: <span class="text-amber-700 font-semibold text-lg">{ocpion}</span>
  </p>
  <p class="text-gray-600 font-medium p-1">
    Costo: <span class="text-amber-700 font-semibold text-lg">${costo}</span>
  </p>
  <p class="text-gray-600 font-medium p-1">
    Tiempo de Recorrido: <span class="text-amber-700 font-semibold text-lg"
      >{tiempo}</span
    >
  </p>
  <p class="text-gray-600 font-medium p-1">
    Corrida: <span class="text-amber-700 font-semibold text-lg">{corrida}</span>
  </p>
  <p class="text-gray-600 font-medium p-1">
    Estación: <span class="text-amber-700 font-semibold text-lg"
      >{estacion}</span
    >
  </p>
</div>
<!-- Fin Card -->
